header {
    text-align: center;
    background-color: gold;
}

button {
    margin: 10px 5px;
}

p {
    width: 70%;
    margin-left: 15%;
}

#signout-button {
    text-align: right;
    position: relative;
    top: -5px;
    right: 5px;
}

#input-message, #input-test {
    display: block;
    text-align: left;
    width: 90%;
    margin: 0 auto;
}

#add-entry-display {
    display: block;
    width: 100%;
    text-align: center;
}

#application {
    display: inline;
}

.input-form {
    background-color: lightskyblue;
    padding: 10px 0;
}

label {
    /* text-align: right; */
    font-weight: bold;
    margin: 0 20px;
}

.monospace {
    font-family: 'Courier New', Courier, monospace;
}

.text-align-left {
    text-align: left;
}

.text-align-right {
    text-align: right;
}

.text-align-center {
    text-align: center;
}

.input-entry {
    width: 10ch;
    margin: 5px;
}

hr {
    margin: 5px;
    border-top: 1px solid black;
    /* padding: 0; */
}

.copyright-link {
    color: white;
}

#map {
    height: 100%;
    opacity: 0.5;
}

#geolocation-list {
    position: fixed;
    bottom: 4ch;
    height: 7ch;
    white-space: nowrap;
    overflow: hidden;
}

.bottom-bar {
    width: 100%;
    height: 3ch;
    text-align: right;
    position: fixed;
    bottom: 0;
    padding-right: 10px;
    left: 0;
    color: white;
    background-color: darkslategray;
}

#geolocation-status {
    float: left;
    padding-left: 10px;
}

@-ms-viewport {
    width: device-width;
}

@media only screen and (max-width: 900px) {
    body {
        margin: 5px 0px 4.5ch 0px;
    }
    h3 {
        font-size: x-large;
        margin: 5px 0 0 0;
    }
    p {
        width: 100%;
        margin-left: 0;
    }
    button {
        padding: 5px;
    }
    label {
        margin: 5px 0px 0px 0px;
    }
    .bottom-bar {
        width: 100%;
        height: 3.5ch;
        text-align: right;
        font-size: small;
        position: fixed;
        bottom: 0;
        padding: 5px;
        left: 0;
        color: white;
        background-color: darkslategray;
    }
}

@media only screen and (max-width: 800px) {
    /*really small margins for better layout on mobile in portrait*/
}

@media screen and (max-width: 767px) {}

@media only screen and (max-width: 600px) {
    /*really small margins for better layout on mobile in portrait*/
}